<!--We add a copyright logo in the footer-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand footer" href="#">
        <i class="far fa-copyright"></i>
    </a>
</nav>

<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/appclient.js"></script>
</body>
</html>