<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
<main class="container about">
    <h1><%= title %></h1>
    <!--here we create a container with 1-row and 2-cols-->
    <div class="row">
        <div class="col-md-4 offset-2">
            <br><br>
            <p>My name is Rudy Huayhua. I hold a bachelor degree in Electrical Engineering and have been working as a software engineer for the last 7 years. I like learning new technologies and developing a deep understanding of new systems. My strong analytical skills has let me transform business needs into technical requirements. I am a self-starter and committed to work both independently and as a part of a collaborative team.</p>
            <!--Add a button to download resume-->
            <!--All buttons have the same style defined in CSS-->
            <a class="btn" href="/assets/documents/cv_rhuayhua.pdf" download target="_blank"> <i class="fas fa-file-download"></i>  Download Resume </a> 
        </div>
    
        <div class="col-md-6">
            <img src="/assets/images/rudy.jpg" alt="" class="img-fluid">
        </div>
    </div>
</main>
<% include partials/footer.ejs%>