<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
<main class="container projects">
    <h1><%= title %></h1>
    <div class="row">
      <!--For each project we use a col size md-4-->
      <div class="col-md-4">
        <div class="col-md-12 ">
          <img src="/assets/images/atm_emv.jpg" alt="" class="img-fluid" >
          <h4>EMV ATM Network</h4>
          <h5>Description: All magnetic stripe transactions in the ATM were migrated to EMV chip technology.</h5>
          <h5>Role: QA engineer</h5>
          <h5>Suitable test cases were written and executed to meet all software requirements.</h5>
        </div>
      </div>
      <div class="col-md-4">
          <div class="col-md-12 ">
            <img src="/assets/images/ATM.png" alt="" class="img-fluid" >
            <h4>ATM Cardless Withdrawals</h4>
            <h5>Description: Cardholders were enabled to make withdrawals using their mobile phone.</h5>
            <h5>Role: Software engineer</h5>
            <h5>A sytem was designed keeping in mind all the components and interfaces involved.</h5>
            <h5>.</h5>
          </div>
      </div>
      <div class="col-md-4"> 
          <div class="col-md-12 ">
            <img src="/assets/images/payment_networks.jpg" alt="" class="img-fluid">
            <h4>Network Payment Intefaces</h4>
            <h5>Description: Integration with payment networks are vital to complete a single transaction processing.</h5>
            <h5>Role: Software developer</h5>
            <h5>Interfaces were developed to support transactions originated in different acquirers.</h5>
          </div>
      </div>
    </div>
</main>
<% include partials/footer.ejs%>